body {
   font-family: 'Brush Script MT', cursive;
   margin: 0;
   background-color: #f4f4f4;
}

header {
   background-color: #661d00;
   color: white;
   padding: 20px;
   text-align: center;
}

nav {
   background-color: #f5cb5a;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}

nav li {
   margin: 0 15px;
}

nav a {
   color: white;
   text-decoration: none;
   font-weight: bold;
}

nav a:hover {
   color: #ffcc00;
}

section {
   padding: 40px;
   background-color: white;
   margin: 20px;
   border-radius: 8px;
}

footer {
   background-color: #661d00;
   color: white;
   text-align: center;
   padding: 15px;
}
